<div class="devops-resources">
	<h3>Devops Links <i class="fa fa-external-link"></i></h3>
	<ul>
		<li>
			<a href="http://itrevolution.com/devops-blog/" target="_blank" title="IT Revolution Press">IT Revolution Press</a>
		</li>
		<li>
			<a href="http://www.kitchensoap.com/" target="_blank" title="John Allspaw">John Allspaw</a>
		</li>
		<li>
			<a href="http://continuousdelivery.com/" target="_blank" title="Jez Humble">Jez Humble</a>
		</li>
		<li>
			<a href="https://dzone.com/devops-tutorials-tools-news" target="_blank" title="DevOps Zone">DevOps Zone</a>
		</li>
		<li>
			<a href="http://blog.devopsguys.com/" target="_blank" title="DevOpsGuys">DevOpsGuys</a>
		</li>
	</ul>
</div>